<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <div class="card-bar">
          <%= bar.name %>, <%= bar.address %>
        </div>
        <div class="card-rating">

        </div>
        <div class="card-user-count">
          <%= bar.users.count%>
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="card-price">
          <%= bar.price %> €
        </div>
        <div>
          <%= bar.genre %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <div class="card-bar">
          <%= bar.name %>, <%= bar.address %>
        </div>
        <div class="card-rating">
          <%= bar.bookings.average_rate %>
        </div>
        <div class="card-user-count">
          <%= bar.users.count%>
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="card-price">
          <%= bar.price %> €
        </div>
        <div>
          <%= bar.genre %>
        </div>
      </div>
    </div>
  </div>
</div>
