<div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-box">
              <h2 class="index_title"> - Last booked bars - </h2>
              <%= simple_form_for @bar do |f| %>
                <%= f.input :name %>
                <%= f.input :address, input_html: { id: 'autocomplete_address'}  %>
                <%= f.input :genre, collection: Bar.genres %>
                <%= f.input :capacity, as: :integer, input_html: { min: "0" } %>
                <%= f.input :price, as: :integer, input_html: { min: "0" } %>
                <%= f.input :description %>
                <%= f.input :photo, as: :attachinary %>
                <%= f.submit "Host Gigs", class: "neon-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
