
<div class="banner_bar" style="background: url(<%= cl_image_path @bar.photo.path %>);">
  <div class="container">
    <div class="bar_description">
      <h1 class="bar_title"><%= @bar[:name] %></h1>
      <div class="bar_address">
        <%= @bar[:address] %>
      </div>
    </div>
    <div class="bar_price">
      <%= @bar[:price] %>
      <i class="fa fa-eur" aria-hidden="true"></i>
    </div>
    <div class="bar_specificities">
      <div class="bar_genre">
        <%= @bar.genre %>
      </div>
      <div class="bar_rating">
        <%= @bar.artists.count %>
        <i class="fa fa-user" aria-hidden="true"> - </i>
        <% @bar.ratings.times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="form">
    <%= render "/bookings/form" %>
  </div>
</div>

<div id="bar-content">
  <div class="row">
    <div class="bar-description col-xs-12 col-sm-6">
      <h3> Description</h3><br>
      <%= @bar.description  %>
    </div>
    <div class="googlemap_bar col-xs-12 col-sm-6" style="background: url('https://i.stack.imgur.com/chfhv.png');">
    </div>

  </div>
</div>
<div class="container">
  <h2 class="text-center">What other artists think about this bar</h2>
  <div class="bar_reviews">
    <ul>
      <% @bar.rated_bookings.each do |booking| %>
        <li class="bar_review">
            <h2> <%= booking.user.username %> </h2>
            <p> <% booking.bar_rating.times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %> </p>
            <p class=review > <%= booking.bar_review %> </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
