<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="show-bar">
      <h2>
        <%= @bar.name %>
        <div class="star">
          <% @bar.ratings.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          -
          <%= pluralize @bar.artists.count, "gig" %>
        </div>
      </h2>
      <%= @bar.genre.capitalize %>
      <div class="show-price">
        <%= @bar.price %> €
      </div>
      <div class="home_search_bar">
        <%= render "/bookings/form" %>
      </div>
    </div>
  </div>
  <% if @bar.photo %>
  <div class="col-xs-12 col-sm-6">
    <div class="show" style="background: url(<%= cl_image_path @bar.photo.path %>);">
    </div>
  </div>
  <% else %>
  <div class="col-xs-12 col-sm-6">
    <div class="show" style="background: url(<%= image_path 'Good5.jpg' %>);">
    </div>
  </div>
  <% end %>
</div>

  <div class="row">
    <div class="bar-description col-xs-12 col-sm-6">
      <h2>Bar details</h2>
      <p>Adresse : <%= @bar.address %></p>
      <p>
        Capactity : <%= @bar.capacity %> <i class="fa fa-user" aria-hidden="true"></i>
      </p>
      <p>Description : <%= @bar.description  %></p>
    </div>
    <div class="googlemap_bar col-xs-12 col-sm-6">
      <div id="map" style="width: 100%; height: 350px;"></div>
      <% content_for(:after_js) do %>
        <script>
          $(document).ready(function() {
            var styles = [
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c9323b"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#c9323b"
                        },
                        {
                            "weight": 1.2
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "lightness": "-1"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "lightness": "0"
                        },
                        {
                            "saturation": "0"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "weight": "0.01"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "weight": "0.01"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9323b"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#99282f"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#99282f"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#99282f"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#99282f"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#99282f"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#99282f"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#090228"
                        }
                    ]
                }
            ];
            var handler = Gmaps.build('Google');
            handler.buildMap({
              provider: {
                styles: styles
              },
              internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        </script>
      <% end %>
    </div>
  </div>





<div class="bar-description">
  <h2>What other artists think about this bar</h2>
  <div class="bar_reviews">
    <ul>
      <% @bar.rated_bookings.each do |booking| %>
        <li class="bar_review">
            <p> <%= booking.user.username %> </p>
            <p> <% booking.bar_rating.times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %> </p>
            <p class=review > <%= booking.bar_review %> </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
