<div class="container">
  <% if current_user.video %>
    <div class="row">
      <div class="booking">
        <h2>My artist's sample</h2>
        <video class="col-sm-6 col-offset-3" controls style="padding: 30px">
          <source src="http://res.cloudinary.com/dcacl3a06/video/upload/<%= current_user.video.path%>.webm" type="video/webm">
        </video>
      </div>
    </div>
  <% end %>
  <div class="row">
    <% @bookings.order(booking_date: :asc).each do |booking| %>
      <div class="booking">
        <div class="col-xs-12 col-lg-6">
          <div class="booking-half">
              <div class="booking-info text-center">
                <h2><%= booking.booking_date.strftime("Save the date : %d/%m/%Y") %></h2>
                <%= link_to "add a review", review_path(booking.id), {class: "neon-btn"} %>
              </div>
              <div class="booking-delete">
                <p>
                  <%= link_to booking_path(booking), { class: "links", method: :delete } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
                </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6" >
          <%= render '/shared/bar_card', bar: booking.bar %>
        </div>
      </div>
    <% end %>
  </div>
</div>


