
<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- TODO !!! -->
    <!-- Notification -->
    <!-- <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    <% end %> -->

    <div class="">
      <%= current_user.username if user_signed_in? %>
    </div>

    <!-- TODO: liens a changer etc. -->
    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if user_signed_in? %>
          <% if current_user.facebook_picture_url.nil? %>
            <% if current_user.photo.nil? %>
              <%= image_tag 'User.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% else %>
              <%=   cl_image_tag current_user.photo.path, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>
          <% else %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to bookings_path do %>
                <i class="fa fa-eye"></i>  <%= t(".profile", default: "List of my booked Gigs") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i>  <%= t(".profile", default: "Update my details") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".profile", default: "Log Out") %>
              <% end %>
            </li>
          </ul>
        <% else %>
          <%= link_to 'SignIn <i class="fa fa-sign-in"></i>'.html_safe, new_user_session_path, { class: 'btn btn-success', style: 'margin-right: 20px' } %>
          <%= link_to 'SignUp <i class="fa fa-user-plus"></i>'.html_safe, new_user_registration_path, { class: 'btn btn-success' } %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- TODO: change the links!!! -->
  <!-- Dropdown list appearing on mobile only -->
  <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
</div>
